<%=  form_with model: @user, local: true do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

     <div>
        <%= f.label 'New Password'  %>
        <%= f.text_field :password %>
    </div>

     <div>
        <%= f.label 'Confirm New Password'  %>
        <%= f.text_field :password_confirmation %>
    </div>

    <%= f.submit %>
<% end %>