<% if @users.empty? %>
  No current users
<% else %>
<table>
  <thead>
    <tr>
      <th>ID</th> 
      <th>Name</th> 
      <th>Role</th>
      <th>Role</th>
      <td>Read</td>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
    <td><%= user.id %> </td>
    <td><%= user.email %> </td>
    <td><%= user.role %> </td>
    <td><%= user.status %> </td>
    <td><%= link_to "Show user details", user_path(user) %></td>
    <td><%= link_to "Edit user details", edit_user_path(user) %></td>
    </tr>
  <% end %>
<% end %>
  </tbody>
</table>

<%= link_to "Back", root_path%>